// This file is for CSS Print specific attributes only
@import 'report.scss';
// see https://highlightjs.org/static/demo/ for a list of available styles
@import '../../node_modules/highlight.js/styles/vs.css';

// #region firstPages
@mixin resetBottom {
  content: normal;
  margin: 0;
}

@page: first {
  @bottom-right {
    @include resetBottom;
  }
  @bottom-left {
    @include resetBottom;
  }
}

@page guardpage {
  @bottom-right {
    @include resetBottom;
  }
  @bottom-left {
    @include resetBottom;
  }
}

// #endregion firstPages


@mixin reportContentBottom {
  @include bottomStyle; // Hack for having the border span across the whole page
  width: 80%;
  content: "TBFC, UB, PICARD Ange 2017 - 2018";
}

@mixin pageNumberBottom {
  @include bottomStyle; // Hack for having the border span across the whole page
  width: 20%;
  content: counter(page);
}

@page: right {
  @bottom-left {
    @include reportContentBottom;
  }
  @bottom-right {
    @include pageNumberBottom;
  }
}

@page: left {
  @bottom-right {
    @include reportContentBottom;
  }
  @bottom-left {
    @include pageNumberBottom;
  }
}

/* Reset chapter and figure counters on the body */

body {
  counter-reset: h1 h2 h3 h4 figurenum;
}

h1 {
  page-break-before: always;
}

h2 {
  counter-reset: h3 h4;
}

h3 {
  counter-reset: h4;
}

/* Increment chapter counter */

h1.chapter::before {
  counter-increment: h1;
  content: counter(h1) " - ";
}

h2.chapter::before {
  counter-increment: h2;
  content: counter(h1) "." counter(h2) " - ";
}

h3.chapter::before {
  counter-increment: h3;
  content: counter(h1) "." counter(h2) "." counter(h3) " - ";
}

h4.chapter::before {
  counter-increment: h4;
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " - ";
}

/* Increment and display figure counter */

figure figcaption:before {
  counter-increment: figurenum;
  /* TODO: Should this be in preprocessor ? */
  content: counter(figurenum) " - ";
}

// #region footnotes related 
// FIXME: not supported by weasyprint
.fn {
  float: footnote;
  counter-increment: footnote;
  &::footnote-call {
    content: counter(footnote);
    font-size: 9pt;
    vertical-align: super;
    line-height: none;
  }
  &::footnote-marker {
    font-weight: bold;
  }
}

@page {
  @footnote {
    border-top: 0.6pt solid black;
    padding-top: 8pt;
  }
}
// #endregion footnotes


ul.toc a::after {
  /* content: leader(".") target-counter(attr(href), page); */
  // content: target-counter(attr(href), page);
}
